* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v14_20 {
  width: 922px;
  height: 1185px;
  background: url("../images/v14_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10_4 {
  width: 922px;
  height: 100%;
  background: url("../images/v10_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_6 {
  width: 251px;
  height: 102px;
  background: rgba(241,227,35,1);
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 22px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v14_13 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 251px;
  left: 75px;
  font-family: Allerta;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_7 {
  width: 251px;
  height: 102px;
  background: rgba(63,240,14,1);
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 313px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v14_9 {
  width: 460px;
  height: 102px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 243px;
}
.v14_17 {
  width: 460px;
  height: 102px;
  background: rgba(242,98,58,1);
  opacity: 1;
  position: absolute;
  top: 1001px;
  left: 231px;
}
.v14_19 {
  width: 354px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1011px;
  left: 287px;
  font-family: Allerta;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v14_12 {
  width: 422px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 53px;
  left: 290px;
  font-family: Allerta;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_16 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 251px;
  left: 281px;
  font-family: Allerta;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
